In [36]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [ ]:
# DataFrame和Series之间的计算
arr=np.arange(12).reshape(3,4)

In [67]:
# 算术运算和数据对齐
s1=Series(np.arange(3))
s2=Series(np.arange(6))
print(s1+s2)

df1=DataFrame(np.arange(12).reshape((3,4)),columns=list('abcd'))
df2=DataFrame(np.arange(20).reshape((4,5)),columns=list('abcde'))

print(df1)
print(df2)
print(df1+df2)
print(df1.add(df2,fill_value=0))

0    0.0
1    2.0
2    4.0
3    NaN
4    NaN
5    NaN
dtype: float64
   a  b   c   d
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11
    a   b   c   d   e
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
      a     b     c     d   e
0   0.0   2.0   4.0   6.0 NaN
1   9.0  11.0  13.0  15.0 NaN
2  18.0  20.0  22.0  24.0 NaN
3   NaN   NaN   NaN   NaN NaN
      a     b     c     d     e
0   0.0   2.0   4.0   6.0   4.0
1   9.0  11.0  13.0  15.0   9.0
2  18.0  20.0  22.0  24.0  14.0
3  15.0  16.0  17.0  18.0  19.0

In [61]:
# 丢弃指定轴上的项
obj=Series(np.arange(5),index=[1,2,3,4,5])
print(obj)
obj=obj.drop(1)
print(obj)


# 索引，选取和过滤
obj=Series(np.arange(5),index=[1,2,3,4,5])
print(obj[2:4])

1    0
2    1
3    2
4    3
5    4
dtype: int64
2    1
3    2
4    3
5    4
dtype: int64
3    2
4    3
dtype: int64

In [54]:
# 重新索引
obj=Series([4,7,-5,3],index=['d','b','a','c'])
obj=obj.reindex(['a','b','c','d','e'])
print(obj)
obj=obj.reindex(['a','b','c','d','k','f'],fill_value=0)
print(obj)

obj=Series(['one','two','three'],index=[0,2,4])
print(obj)
obj.reindex(range(6),method='ffill')

a   -5.0
b    7.0
c    3.0
d    4.0
e    NaN
dtype: float64
a   -5.0
b    7.0
c    3.0
d    4.0
k    0.0
f    0.0
dtype: float64
0      one
2      two
4    three
dtype: object

0      one
1      one
2      two
3      two
4    three
5    three
dtype: object

In [45]:
# 索引对象
obj=Series(range(3),index=['a','b','c'])
index=obj.index
print(obj)
print(index)

a    0
b    1
c    2
dtype: int64
Index(['a', 'b', 'c'], dtype='object')

In [43]:
# DataFrame
data={'one':['1','2'],
     'two':['3','4'],
     'three':['5','6']}
frame=DataFrame(data)
print(frame)
frame=DataFrame(data,columns=['one','two','three','four'])
print(frame)
print(frame['four'])
print(frame.one)
# print(frame.ix[0])     ix被废弃了
frame['one']=100
print(frame)
frame['two']=np.arange(2)
print(frame)

  one three two
0   1     5   3
1   2     6   4
  one two three four
0   1   3     5  NaN
1   2   4     6  NaN
0    NaN
1    NaN
Name: four, dtype: object
0    1
1    2
Name: one, dtype: object
   one two three four
0  100   3     5  NaN
1  100   4     6  NaN
   one  two three four
0  100    0     5  NaN
1  100    1     6  NaN

In [16]:
sdata={'one':1,'two':2,'three':3}
obj=Series(sdata)
print(obj)

print(pd.isnull(obj))
print(obj.isnull())

one      1
three    3
two      2
dtype: int64
one      False
three    False
two      False
dtype: bool
one      False
three    False
two      False
dtype: bool

In [12]:
# 数据结构：Series
obj=Series([4,7,-5,3])
print(obj)
print(obj.values)
print(obj.index,'\n')


obj2=Series([4,7,-5,3],index=['d','b','a','c'])
print(obj2)
print(obj2.index)
print(obj2['a'])
obj2['d']=6
print(obj2[['c','a','d']])

print(obj2[obj2>0])

0    4
1    7
2   -5
3    3
dtype: int64
[ 4  7 -5  3]
RangeIndex(start=0, stop=4, step=1)

d    4
b    7
a   -5
c    3
dtype: int64
Index(['d', 'b', 'a', 'c'], dtype='object')
-5
c    3
a   -5
d    6
dtype: int64
d    6
b    7
c    3
dtype: int64